$blue-lightest: #f2f8fc; // very light sky blue
$blue-light: #80aad3; // light blue
$blue-medium: #5b86b6; // medium blue
$blue-base: #3f6593; // base / primary blue
$blue-dark: #1b3554; // dark blue
$blue-darkest: #000f22; // very dark / navy blue